!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
TODOs.md
.eslintcache
.pnp.cjs
.pnp.loader.mjs
.yarn/
.yarnrc.yml
